In [1]:
import pandas as pd
import psycopg2
import time
import numpy as np
import re
from datetime import timedelta
import pickle
import matplotlib.pyplot as plt
from scipy.signal import butter, filtfilt
from scipy import stats
import neurokit2 as nk

In [2]:
#pd.set_option('display.max_columns', None)

In [3]:
DB_NAME = "tack"

conn = psycopg2.connect(
    host="127.0.0.1",
    port="5432",
    database=DB_NAME,
    user="postgres",
    password="postgres"
)

In [5]:
# Execute the SQL query
cursor = conn.cursor()
sql_query = "SELECT * FROM tack.sensor_data"
cursor.execute(sql_query)

# Fetch all the results
columns = [desc[0] for desc in cursor.description]
data = cursor.fetchall()
df_ecg = pd.DataFrame(data, columns=columns)

cursor.close()
df_ecg

,subject_id,computer_name,block_type,sensor_data
0,EDFR,mammal_panda,baseline,"{'Timestamp': [1712690031.0352373, 1712690031...."
1,EDFR,mammal_panda,block_01,"{'Timestamp': [1712690707.5706294, 1712690707...."
2,EDFR,mammal_panda,block_02,"{'Timestamp': [1712691652.6205168, 1712691652...."
3,EDFR,mammal_panda,block_03,"{'Timestamp': [1712692657.4177406, 1712692657...."
4,EDFR,mammal_panda,block_04,"{'Timestamp': [1712693581.0007808, 1712693581...."
...,...,...,...,...
282,BVCX,mammal_panda,baseline,"{'Timestamp': [1713278800.638756, 1713278800.6..."
283,BVCX,mammal_panda,block_01,"{'Timestamp': [1713279427.4931395, 1713279427...."
284,BVCX,mammal_panda,block_02,"{'Timestamp': [1713280303.034896, 1713280303.0..."
285,BVCX,mammal_panda,block_03,"{'Timestamp': [1713281205.8859355, 1713281205...."
286,BVCX,mammal_panda,block_04,"{'Timestamp': [1713282046.398645, 1713282046.4..."

In [7]:
df_ecg['sensor_data'] = df_ecg['sensor_data'].tolist()

In [11]:
df_ecg
expanded_df = df_ecg['sensor_data'].apply(pd.Series)

# Concatenate expanded_df with the original DataFrame, dropping the 'sensor_data' column
result_df = pd.concat([df_ecg.drop('sensor_data', axis=1), expanded_df], axis=1)

In [15]:
result_df = result_df.drop('eda_data',axis=1)
result_df

,subject_id,computer_name,block_type,Timestamp,ecg_data
0,EDFR,mammal_panda,baseline,"[1712690031.0352373, 1712690031.0392373, 17126...","[160.0, 170.0, 157.0, 167.0, 155.0, 174.0, 165..."
1,EDFR,mammal_panda,block_01,"[1712690707.5706294, 1712690707.5746293, 17126...","[673.0, 575.0, 385.0, 125.0, 65.0, 71.0, 87.0,..."
2,EDFR,mammal_panda,block_02,"[1712691652.6205168, 1712691652.6245167, 17126...","[204.0, 210.0, 200.0, 206.0, 190.0, 205.0, 195..."
3,EDFR,mammal_panda,block_03,"[1712692657.4177406, 1712692657.4217403, 17126...","[168.0, 175.0, 165.0, 177.0, 164.0, 183.0, 177..."
4,EDFR,mammal_panda,block_04,"[1712693581.0007808, 1712693581.0047808, 17126...","[156.0, 160.0, 152.0, 203.0, 250.0, 373.0, 537..."
...,...,...,...,...,...
282,BVCX,mammal_panda,baseline,"[1713278800.638756, 1713278800.642756, 1713278...","[130.0, 129.0, 131.0, 133.0, 133.0, 137.0, 142..."
283,BVCX,mammal_panda,block_01,"[1713279427.4931395, 1713279427.4971397, 17132...","[160.0, 130.0, 128.0, 123.0, 131.0, 130.0, 132..."
284,BVCX,mammal_panda,block_02,"[1713280303.034896, 1713280303.0388958, 171328...","[490.0, 558.0, 511.0, 392.0, 277.0, 218.0, 198..."
285,BVCX,mammal_panda,block_03,"[1713281205.8859355, 1713281205.8899355, 17132...","[222.0, 224.0, 220.0, 227.0, 219.0, 225.0, 220..."
286,BVCX,mammal_panda,block_04,"[1713282046.398645, 1713282046.4026449, 171328...","[216.0, 216.0, 216.0, 216.0, 213.0, 215.0, 218..."

In [ ]:
DB_NAME = "tack"

conn = psycopg2.connect(
    host="127.0.0.1",
    port="5432",
    database=DB_NAME,
    user="postgres",
    password="postgres"
)

In [ ]:
# Execute the SQL query
cursor = conn.cursor()
sql_query = "SELECT * FROM tack.shooting_survey_data"
cursor.execute(sql_query)

# Fetch all the results
columns = [desc[0] for desc in cursor.description]
data = cursor.fetchall()
df_survey_sg = pd.DataFrame(data, columns=columns)

cursor.close()
df_survey_sg

In [ ]:
df_game_fami = pd.DataFrame(df_survey_sg['game_familiarity'].to_list())
df_game_fami = df_game_fami.applymap(lambda x: x[0])  #remove list
df_game_fami = pd.concat([df_survey_sg[['userid']],df_game_fami],axis=1) #add userid
df_game_fami = df_game_fami.rename({'Q2':'Q2_What is the relationship between you and your teammate?',
                                    'Q3':'Q3_What is the relationship between you and opponent 1?',
                                    'Q4':'Q4_What is the relationship between you and opponent 2?',
                                    'userid':'subject_id',
                                   },axis=1) #filter and remane columns
df_game_fami = df_game_fami.drop('BlockNo',axis=1)

df_game_fami

In [ ]:
df_merge_Descartes_2 = pd.merge(df_merge_Descartes,df_game_fami,on='subject_id',how='left')
df_merge_Descartes_2

# Save

In [ ]:
result_df.to_csv("shooting_game_ecg.csv",index=False)

In [ ]:
conn.close()